:root{
--color-principal:#3F6212;
--color-secundario:#4d7c0f;
--color-fondo:#f9fafb;
}

*{
box-sizing:border-box;
margin:0;
padding:0;
font-family:system-ui;
}

body{
background:var(--color-fondo);
line-height:1.6;
}

header{
background:var(--color-principal);
color:white;
padding:20px;
text-align:center;
}

nav{
margin-top:10px;
}

nav a{
color:white;
margin:0 10px;
text-decoration:none;
font-weight:bold;
}

.hero{
padding:20px;
text-align:center;
}

.hero img{
width:100%;
max-width:500px;
border-radius:10px;
}

section{
padding:20px;
}

.productos{
display:grid;
grid-template-columns:1fr;
gap:15px;
}

.producto{
background:white;
padding:15px;
border-radius:8px;
border:1px solid #ddd;
}

.producto h3{
color:var(--color-principal);
}

.boton{
display:inline-block;
background:var(--color-principal);
color:white;
padding:12px 20px;
text-decoration:none;
border-radius:6px;
margin-top:10px;
}

footer{
background:#111;
color:white;
text-align:center;
padding:15px;
margin-top:30px;
}

footer a{
color:#9be564;
text-decoration:none;
}

/* TABLET */

@media(min-width:600px){

.productos{
grid-template-columns:repeat(2,1fr);
}

}

/* DESKTOP */

@media(min-width:1024px){

.productos{
grid-template-columns:repeat(3,1fr);
}

}